<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">
  <servlet>
    <servlet-name>gamemain</servlet-name>
    <servlet-class>org.docksidestage.GameMain</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>gameentrance</servlet-name>
    <servlet-class>org.docksidestage.GameEntrance</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>gamewelcome</servlet-name>
    <servlet-class>org.docksidestage.GameWelcome</servlet-class>
  </servlet>

	<!-- mapping -->
  <servlet-mapping>
    <servlet-name>gamemain</servlet-name>
    <url-pattern>/gamemain</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>gameentrance</servlet-name>
    <url-pattern>/game</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>gamewelcome</servlet-name>
    <url-pattern>/gamewelcome</url-pattern>
  </servlet-mapping>
  


</web-app>